extends layout
block content
    button(class="addFile btn btn-primary" ) 添加
    table(id="fileForm")
    //- div(class="modal fade" id="editFile" tabindex="-1" role="dialog" aria-labelledby="myEditFile")
    //-     div(class="modal-dialog" role="document")
    //-         div(class="modal-content")
    //-             div(class="modal-header")
    //-                 button(type="button" class="close" data-dismiss="modal" aria-label="Close")
    //-                     span(aria-hidden="true") &times;
    //-                 h4(class="modal-title" id="myEditFile") 更新文章
    //-             div(class="modal-body")
    //-                 form(class="" enctype="multipart/form-data")
    //-                     div(class="form-group")
    //-                         label(for="file-id") id
    //-                         input(type="text" class="form-control" name="_id" id="edit-file-id" disabled )
    //-                     div(class="form-group")
    //-                         label(for="file-title") 标题
    //-                         input(type="text" class="form-control" name="title" id="edit-file-title")
    //-                     div(class="form-group")
    //-                         label(for="file-title") 描述
    //-                         input(type="text" class="form-control" name="subtitle" id="edit-file-subtitle") 
    //-                     div(class="form-group")
    //-                         label(for="file-type") 分类
    //-                         select(name="" class="form-control" id="editFile-language") 
    //-                             option(value="" disabled selected) 请选择
    //-                             option() java 
    //-                             option() javascript 
    //-                             option() mysql 
    //-                             option() mongodb 
    //-                             option() linux 
    //-                             option() other 
    //-                     div(class="form-group")
    //-                         label(for="") 上传文章
    //-                         input(type="file" name="file" id="editFile-input" class="file" ) 
    //-             div(class="modal-footer")
    //-                 button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
    //-                 button(type="button" class="btn btn-primary" id="updateFile") 保存
 

